@media screen and (min-width: 770px) {
  .mainHeader {
    background-color: black;
    color: white;

    .a24logo {
      width: 75px;
    }

    .burgerMenu {
      display: none;
    }

    .widescreenContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60vw;

      margin-right: 15px;

      div {
        font-size: 15px;
      }
    }
  }

  .fullWidthMarcel,
  .fullWidthEverything {
    > img {
      max-width: 100%;
      max-height: none;
      right: auto;
    }
  }
}
